/* * {
    border: 1px solid black;
} */

.border {
  border: 1px solid black !important;
}

.row-nav {
  background-color: #20d3c2;
}

.btn {
  background-color: #20d3c2;
  color: white;
}

.navbar-nav {
  display: inline;
}
.navbar-nav .dropdown {
  display: inline;
}

.nav-info {
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  color: white;
  display: inline-block;
}
.nav-info a {
  color: white;
  text-decoration: none;
}

.socialmedia a {
  margin: 0rem 0.3rem 0rem 0.3rem;
}

.nav-buttons a {
  margin: 0rem 0.75rem 0rem 0.75rem;
}

.dashboard {
  margin: 1rem;
}
.dashboard a {
  text-decoration: none;
  color: black;
}

.cart a {
  margin: 0rem 0.5rem 0rem 0rem;
}
